
.toDo {
  text-align: center;
  border: 1px solid white;
  width: 80vw;
  height: auto;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
  background: #fdfdfd;
  margin: 40px auto;
}

.toDo-Container {
  width: 80%;
  margin: 0 auto;
}

.toDoInput{
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 15px;
}

.form-check-input:checked {
  background-color: forestgreen !important;
  border-color: darkgreen !important;
}

.containercustom {
  display: grid;
  grid-template-columns: 100px 500px 50px;
  text-align: left;
  word-wrap: break-word;
  
}
.columncustom {
  margin: 5px;
}

